body{
  background-color: #2c3e50;
  font-family: 'Noto Sans KR', sans-serif;
}
.clock{
  color: white;
  width: 100%;
  font-size: 10rem;
  height: 15rem;
  line-height: 15rem;
  text-align: center;
}
.form{
  display: none;
  height: 3rem;
  line-height: 3rem;
  font-size: 2rem;
  color: black;
  font-weight: bold;
  text-align: center;
}
.content{
  display: none;
  text-align: center;
  margin: 1rem;
}
.greeting{
  font-weight: bold;
  height: 3rem;
  line-height: 3rem;
  font-size: 2rem;
  color: white;
}
.showing{
  display: block;
}
.input{
  margin-top: 0.5rem;
  height: 2rem;
  font-size: 0.8rem;
  color: black;
  text-align: center;
  font-weight: bold;
  box-sizing: border-box;
}
.toDoForm{
  margin-top: 1rem;
}
.toDoList{
  margin-top: 2rem;
  color: white;
}
.toDo{
  margin-top: 0.5rem;
  display: flex;
}
.toDoText{
  height: 2rem;
  line-height: 2rem;
  font-size: 1.5rem;
}
@keyframes fadeIn{
  from{
    opacity: 0
  }to{
    opacity: 1
  }
}
.bgImage{
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}
.toDoRemoveBtn{
  background-color: #dff9fb;
  color : black;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  font-size: 0.8rem;
  height: 1.5rem;
  line-height: 1.5rem;
  margin: 0.3rem 0 0 1rem;
  font-weight: bold;
}
.toDoList .toDoRemoveBtn:hover{
  background-color: #95afc0;
}
.toDoList .toDoRemoveBtn:active{
  transform: scale(0.97);
}
.weather{
  height: 2rem;
  line-height: 2rem;
  font-size: 1.5rem;
  color: white;
  top: calc(100% - 3rem);
  position: absolute;
  left: 1rem;
  font-weight:bold;
}